<div class="row" id="page-instance">


	<div class="row" style="margin-left: 50px; margin-right: 50px;">

		<div class="col-lg-3">
			<div class="input-group">
				<span class="input-group-addon">工作流名称</span> <input type="text"
					class="form-control"></input>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="input-group">
				<span class="input-group-addon">request id</span> <input type="text"
					class="form-control"></input>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="input-group">
				<span class="input-group-addon">工作流ID</span> <input type="text"
					class="form-control"></input>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="input-group">
				<span class="input-group-addon">状态</span> <input type="text"
					class="form-control"></input>
			</div>
		</div>
	</div>

	<br></br>

	<div class="row" style="margin-left: 50px; margin-right: 50px;">

		<div class="col-lg-3">
			<div class="input-group">
				<span class="input-group-addon">节点</span> <input type="text"
					class="form-control"></input>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="input-group">
				<span class="input-group-addon">结束时间大于</span> <input type="text"
					class="form-control"></input>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="input-group">
				<span class="input-group-addon">结束时间小于</span> <input type="text"
					class="form-control"></input>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary">搜索工作流信息</button>
			</div>
		</div>
	</div>

	<br></br> <br></br>

	<div class="table-responsive"
		style="position: relative; margin-right: 50px; margin-left: 50px;">
		<table id="instance-table"></table>
	</div>

</div>