<div class="row" id="page-report">

	<div style="margin-right: 20px; margin-left: auto; width: 20%">
		<div class="btn-group btn-group-sm" role="group">
			<button type="button" class="btn btn-primary">一小时</button>
			<button type="button" class="btn btn-default">一天</button>
			<button type="button" class="btn btn-default">一周</button>
		</div>
	</div>
	
	<br></br>

	<div
		style="clear: both; margin-left: 140px; margin-right: auto; width: 80%">
		<div class="panel panel-default"
			style="width: 150px; display: inline-block; margin-right: 20px">
			<div class="panel-heading">实例总数</div>
			<div class="panel-body">
				<h3>13487</h3>
			</div>
		</div>

		<div class="panel panel-default"
			style="width: 150px; display: inline-block; margin-right: 20px">
			<div class="panel-heading">成功</div>
			<div class="panel-body">
				<h3>12537</h3>
			</div>
		</div>

		<div class="panel panel-default"
			style="width: 150px; display: inline-block; margin-right: 20px">
			<div class="panel-heading">失败</div>
			<div class="panel-body">
				<h3>830</h3>
			</div>
		</div>

		<div class="panel panel-default"
			style="width: 150px; display: inline-block; margin-right: 20px">
			<div class="panel-heading">超时</div>
			<div class="panel-body">
				<h3>120</h3>
			</div>
		</div>

		<div class="panel panel-default"
			style="width: 150px; display: inline-block; margin-right: 20px">
			<div class="panel-heading">成功率</div>
			<div class="panel-body">
				<h3>92.96%</h3>
			</div>
		</div>
	</div>
	<p></p>

	<div id="show-instance"
		style="height: 350px; position: relative; margin-right: 100px; margin-left: 100px;"></div>

</div>